.navbar-1 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #eaecf0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.spaceforiphone {
  height: 3.2rem;
}

.thirdlinenavbar {
  display: flex;
  height: 3rem;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  justify-content: space-between;
  align-items: stretch;
}

.headernavbar {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 600;
}

.lefticonthirdline {
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  justify-content: flex-end;
  align-items: center;

  color: #5e6ad2;
  font-size: 0.9rem;
  font-weight: 500;
}

.wrappericon {
  width: 1.5rem;
  height: 1.5rem;
}

.wrappericon.small {
  width: 1.2rem;
  height: 1.2rem;
}