.tabbar {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 99998;

  display: flex;

  border-top: 1px solid #eaecf0;

  background-color: white;
}

@media screen and (max-width: 991px) {
  .tabbar {
    position: fixed;
    display: flex;
  }
}

.tab {
  display: flex;
  padding: 0.7rem 1rem 1.7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;

  color: #667085;
}

@media screen and (max-width: 991px) {
  .tab {
    text-decoration: none;
  }
}

@media screen and (max-width: 991px) {
  .tab:global(.w--current) {
    color: #101828;
  }
}

@media screen and (max-width: 479px) {
  .tab {
    padding-right: 0.9rem;
    padding-left: 0.9rem;
  }
}

.tab.color {
  color: #5e6ad2;
}

@media screen and (max-width: 767px) {
  .tab.color {
    color: #6172f3;
  }
}

.text-block-5 {
  font-size: 0.8rem;
}

@media screen and (max-width: 991px) {
  .text-block-5 {
    font-size: 0.8rem;
  }
}